*{
    margin: 0;
    padding: 0;
}
.container{
    text-align: center;
    /*width: 100%;*/
}

/*导航栏*/
.nav{
    text-align: left;
    border-bottom: solid 2px #ebebeb;
}
.nav div{
    display: inline-table;
    height: 32px;
}
.nav div a{
    display: inline;
    padding: 0 10px;
    font-size: 14px;
    line-height: 32px;
    text-decoration: underline;
    color: #333;
}

.nav div a:hover{
    color: #00c;
}
.nav-left{
	/*float: left;*/
    padding-left: 10px;
}
.nav-right{
    float: right;
    font-weight: bold;
}
.nav div .nav-more{
    background: #3385ff;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 10px;
    z-index: 10;
	/*.padding: 8px 10px !important;
	+padding: 12px 10px !important;*/
}
.nav-more-list{
    position: absolute;
    top: 0px;
    right: 0;
    /*padding-top: 32px;*/
    border-left: 1px solid #e7e7e7;
    background-color: #f9f9f9;
    z-index: 1;
    width: 75px;
    opacity: 0;
    display: none;
}

.nav .nav-more-list a{
    display: block;
    margin: 0 13px;
    padding: 2px !important;
    /*width: 50px;*/
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border-top: 1px solid #E8E8E8;
}
.nav .nav-more-list a:last-child{
    margin: 0;
    width: 100%;
}
.nav .nav-more-list a:first-child{
    width: 100%;
    height: 32px;
    margin: -3px 0 0 -2px;
    font-size: 14px;
}
.nav .nav-more-list a img{
    margin-top: 8px;
    display: block;
    width: 40px;
    height: 40px;
}

/*中间百度一下*/
.context{
    width: 650px;
    margin: 50px auto;
}
.context-logo{
    width: 270px;
    height: auto;
}
/*.context-form{*/
    /*position: relative;*/
    /*display: -webkit-flex;*/
    /*padding: 0 5px;*/
/*}*/
.context form{
    position: relative;
}
.context form input[type=text]{
    width: 536px;
    height: 36px;
    float: left;
    /*-webkit-flex: 5;*/
}
.context form input[type=submit]{
    /*margin-left: -35px;*/
    width: 102px;
    height: 38px;
    color: #ffffff;
    background: #3385ff;
    font-size: 16px;
    border: 0;
    float: left;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
	.context form input[type=submit]{
		height: 40px;
	}
} /*safari(Chrome) 有效 */
.context form img{
    position: absolute;
    top: 5px;
    left: 500px;
    width: 30px;
    float: left;
}
.context form img:hover{
    cursor: pointer;
}

/*底部信息css*/
.footer{
    width: 600px;
    /*margin-top: 200px;*/
    font-size: 13px;
    color: #999;
    margin: 800px auto 0 auto;
    /*white-space: nowrap;*/
    /*overflow: scroll;*/

}
.footer span{
    margin-right: 5px;
}
.footer a{
    text-decoration: none;
    color: #999;
}
.footer a:hover{
    text-decoration: underline;
}

.tabBox{
    width: 800px;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -400px;
    margin-top: 50px;
    border: solid 1px #eeeeee;
}
.tabBox ul li{
    list-style: none;
}
.tabBox>ul{
    text-align: left;
}
.tabBox>ul li{
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    /*margin-left: -4px;*/
}
.tabBox>ul li:hover{
    background-color: #e6e6e6;
}
.tabBox>ul li.li-on{
    background-color: #000000!important;
    color: #FFFFFF!important;
}
.tabBox>div{
    display: none;
}
.tabBox>.div-on{
    display: block;
}
/*响应式*/
@media screen and (max-width: 845px){
    .nav-left, .tabBox{
        width: 800px;
    }{
        display: none !important;
    }

}
@media screen and (max-width: 640px){

    .nav{
        position: absolute;
        top: 140px;
        left: 50%;
        border: 0;
        margin-left: -150px;
        width: 300px;
    }
    .context{
        position: absolute;
        top:0;
        margin: 0;
    }
    .nav-right{
        display: none !important;
        /*margin-top: -9999px;*/
    }
    .nav-more-list{
        opacity: 1;
        margin: 0 auto;
        background-color: #ffffff;
        width: 300px;
        border: 0;
        /*margin-left: -100px;*/

    }
    .nav .nav-more-list img{
        display: none !important;
    }
    .nav .nav-more-list a{
        background-color: #ffffff;
        border: 0;
        width: 15%;
        float: left;
    }
    .nav .nav-more-list a:first-child, .nav .nav-more-list a:last-child{
        display: none;
    }

    .context{
        width: 100%;
    }
    .context-logo {
        width: 200px;
        height: auto;
    }

    .context form input[type=text]{
        clear: both;
        width: 100%;
        border: 1px solid #6E6E6E;
    }
    .context form input[type=submit]{
        clear: both;
        width: 75px;
        height: 38px;
        font-size: 16px;
        background-color: #F5F5F5;
        border: 1px solid #787878;
        color: #000000;
        position: absolute;
        right: 0px;
    }
    .context form img{
        display: none;
    }

    .footer{
        display: none;

    }
}