.res-sector{
    text-align: center;
}
.res-sector>p{
    color: rgb(175,175,175);
    margin: 3rem 0;
}
.res-header{
    background-color: rgba(252,137,161,1);
    color: #FFFFFF;
    font-size: 2.6rem;
    font-family: sans-serif;
    text-align: center;
    height: 4rem;
    padding: 0 5px;
    line-height: 4rem;

}
.res-header .am-icon-sm:before{
    font-size: 100%;
}
.res-detail{
    padding: 0 3rem;
    padding-top: 4rem;
    color: #000000;
}
.res-article{
    padding: 0 .5rem;
}
.form-group .am-u-sm-12{
    border-bottom: solid 1px #EAEAEA;
}
.res-article>ul:first-child{
    text-align: center;
    margin: 1.5rem auto;
}
.modal-data .form-group ul{
    text-align: center;
}
/*.form-group-slider{*/
    /*padding: 1rem 1rem;*/
/*}*/
.modal-data>button{
    width: 7rem;
    text-align: center;
}
.res-article>ul:first-child button, .modal-data .form-group ul button{
    background-color: #FFFFFF;
    color: #7E7E7E;
    border: solid 1px #CCCCCC;
    border-radius: .5rem;
    width: 95%;
    height: 3rem;
    margin: .5rem 0;
    padding: .5rem 0;
    font-size: 1.3rem;
}
.res-article>ul:first-child .app-btn-active, .modal-data .form-group ul .app-btn-active{
    background-color: rgba(252,137,161,1);
    color: #FFFFFF;
}
#app-form-checkbox li>button>span{
    color: rgba(252,137,161,1);
    font-size: .5rem;
}
.res-article-analysis>ul{
    background-color: #FFFFFF;
}
.res-article-analysis>section{
    margin: 0;
    background-color: #FFFFFF;
}
.res-article-analysis section>h2{
    font-size: 1.5rem;
    border-bottom: solid 1px #E2E2E2;
    margin: 0;
    font-family: sans-serif;
    background-color: #EDEDED;
}
.res-article-analysis section>h2>strong{
    font-size: 2rem;
}
.res-article-analysis section>span{
    font-size: 1rem;
    color: rgb(153,153,153);
}

.res-article-solution>section>h2{
    font-size: 2rem;
    margin: 0 auto;
}
.res-article-solution>section{
    padding: 0 3px;
    margin-bottom: 7rem;
}
.res-article-solution-table{
    font-size: 1.4rem;
}
.res-article-solution-table tr>td:first-child{
    background-color: rgb(239,240,240);
    color: rgb(156,152,148);
    text-align: center;
    width: 30%;
}
.res-article-solution-table tr>td:last-child{
    color: rgb(113,113,113);
}
.res-article-solution-table tr:nth-child(2) span{
    display: block;
}
.res-article-solution-table-product{
    text-decoration: underline;
    color: rgb(76,193,243);
}
.res-article-solution-table > tbody > tr > .res-article-solution-table-pink{
    color: rgba(252,137,161,1);
}
.eva_slider_fix{
    position: fixed;
    bottom: 1rem;
    /*right: auto;*/
    left: 41%;
    /*text-align: center;*/
}
.eva_slider_fix>img{
    width: 5rem;
}
/*.res-article-solution section>.am-g{*/
    /*margin: 2rem 0;*/
    /*border: solid 1px #E2E2E2;*/
    /*height: 100px;*/
/*}*/
/*.res-article-solution section>.am-g>div:first-child{*/
    /*color: #FFFFFF;*/
    /*background-color: #e3e3e3;*/
    /*height: 100px;*/
    /*text-align: center;*/
/*}*/
/*.res-article-solution div[class^="am-u-"]{*/
    /*padding: 0;*/
/*}*/
/*.res-article-solution .am-g ul{*/
    /*padding:1.4rem 1rem;*/
    /*margin: 0;*/
/*}*/
/*.res-article-solution li{*/
    /*list-style: none;*/
    /*font-size: 1.4rem;*/
    /*overflow:hidden;*/
    /*text-overflow:ellipsis;*/
    /*white-space:nowrap;*/
/*}*/
/*.res-article-solution li span{*/
    /*color: rgb(252,137,161);*/
/*}*/

.aside-fixed-right{
    position: fixed;
    top:50%;
    right:0;
    background-color: rgba(253,172,189,0.7);
    color: #FFFFFF;
    border: solid 1px #c2c2c2;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 3.5rem;
    z-index: 999;
}
.res-article-analysis{
    text-align: center;
}
.res-article-analysis canvas, #sector_diagram{
    width: 90%;
    height: 220px;
}
.modal-conult .modal-conult-img-pointer{
    width: 3rem;
    height: auto;
    position: fixed;
    top: 1rem;
    left: 2rem;
}
.modal-conult .modal-conult-img-guide{
    width: 20rem;
    height: auto;
    position: fixed;
    top: 8rem;
    left: 2rem;
}
.modal-conult-phone img{
    top: 45%;
}
.modal-conult-wechat img{
    top: 55%;
}